---
name: HMD Test Result
about: Share test results with different HMDs
title: ''
labels: hmd test
assignees: egemenertugrul

---

**Platform:**
 - OS: [e.g. Windows 10 64-bit]
 - HMD: [e.g. Oculus Rift]
 - LuxVR Version: [e.g. 1.0]
 - Result: [e.g. Success/Partial Success/Failure]

**Additional context**
Further comments/context goes here.
